
body{
	background: #f0f2f5;
	color: #000;
	font-family: 'Poppins', sans-serif;
	text-decoration:none;
}

.main{
	background-color: #f0f2f5;
	/*border: 1px solid;*/
	height: 100%;
	max-width: 100%;
	display: flex;
}

.logo{
	/*border: 1px solid red;*/
	height: 100%;
	width: 50%;
	background-image: url("https://static.xx.fbcdn.net/rsrc.php/y1/r/4lCu2zih0ca.svg");
	display: flex;
	background-repeat: no-repeat;
	background-size: 320px 120px;
	display: inline-block;
	box-sizing: content-box;
	background-position: 280px 180px;
}
.text{
	position: relative;
	font-size: 29px;
	left: 310px;
	top: 255px;
	font-weight: normal;
}
.container{
	/*border: 1px solid blue;
	display: inline-flex;
	box-sizing: content-box;
	box-sizing: relative;
	padding: 130px 10px;*/
	position: absolute;
	padding-left: 940px;
	padding-top: 145px;
}

a{
	text-decoration: none;
}

.space{
	
	padding: 15px 10px;
	text-align: center;
	box-shadow: 0px 0px 10px 2px rgb(189, 188, 188);
	width: 70%;
	border-radius: 15px;
	background-color: #fff;
}

.bt1{
	background-color: #1877f2;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 8px;
	letter-spacing: 1px;
	border: none;
	width: 90%;
}

.bt2{
	background-color: #42b72a;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 8px;
	letter-spacing: 1px;
	word-spacing: 2px;
	border: none;
	width: 70%;
	height: 10%;
	margin: 7px;
}


.ctext{
	padding-left: 55px;
	height: 20%;
	padding-top: 15px;
	font-size: 13px;
	color: #000;
}
.username,.password{
	width: 100%;
	margin: 5px;
}
.username{
	letter-spacing: 1px;
	word-spacing: 2px;
	border: 1px solid grey;
	padding-left: 5px;
	font-size: large;
}
.password{
	letter-spacing: 1px;
	border: 1px solid grey;
	padding-left: 5px;
	font-size: large;
}

input[type=text],input[type=password]{
	height: 50px;
	width: 370px;
	align-content: center;
	
}
button[type=submit]{
	height: 45px;
	font-weight: bold;
	font-size: medium;
	color: #f0f2f5;
}

.fpass{
	font-size: 14px;
	letter-spacing: 1px;
	padding-top: 10px;
}
